NODE_ENV=development
PORT=3000
DATABASE=mongodb+srv://<username>:<db_password>@<cluster>.mongodb.net/?appName=natours
DATABASE_PASSWORD=<your_db_password>
JWT_SECRET=<your_jwt_secret_must_be_at_least_32_characters_long>
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_HOST=<your_email_host>
EMAIL_PORT=<your_email_port>
EMAIL_USERNAME=<your_email_username>
EMAIL_PASSWORD=<your_email_password>

EMAIL_FROM=<your_email_from_address>

BREVO_USER=<your_brevo_user>
BREVO_PASS=<your_brevo_password>
BREVO_HOST=smtp-relay.brevo.com
BREVO_PORT=587

STRIPE_SECRET_KEY=<your_stripe_secret_key>
